.menu {
  display: flex;
  justify-content: space-between;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  h1 {
    color: gray;
  }
}
